/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #FF5656;
    padding: 20px 10px;
    display: block;
    height: 36px;
  }
  
  .header-left a{
    float: left;
    color: #FAFFDD;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 38px;
    line-height: 0px;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
  }
  /* Style the header links */
  /* .header a {
    float: left;
    color: #FAFFDD;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  } */
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  
  .header-mid img{
    margin-left: 476px;
    
  }
  
  
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: rgb(255, 255, 255);
    color: #FF5656;
  }
  
  /* Style the active/current link*/
  .header a.active {
    text-decoration:underline rgb(11, 1, 48);
    
  }
  
  /* Float the link section to the right */
  .header-right a{
    float: right;
    color: #FAFFDD;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 38px;
    line-height: 0px;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }